.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
  }
  
  .popup h2 {
    margin-top: 0;
  }
  
  .popup p {
    margin-bottom: 10px;
  }
  
  .popup .close-button {
    padding: 8px 16px;
    background-color: #ccc;
    border: none;
    cursor: pointer;
  }